**/*log*/
*log*
**/*checkpoint*/
*pt*
*pth*
*pkl*
*pickle*
**/*backup*/
**/*bk*/
/zsce/evaluation*
*.csv
*.npy
*.bitmaps
*.sql
*json
*.txt
*.log
*.gz
*.tar
*.zip
*.7z
*.rar
*.bak
*.old
*.swp
*.swo
*.pyc
*.pyo
*.so
*.o
*.a
*.dll
*.exe
*.class
*.jar
*.war
*.ear
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.Z
*.tar.lz
*.tar.bz
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.Z
*.tar.lz
*.tar.bz
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.Z
*.tar.lz
*.tar.bz
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.Z
*.tar.lz
*.tar.bz
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.Z
*.tar.lz
*.tar.bz
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.Z
*.tar.lz
*.tar.bz
*.tar.bz2
*.tar.gz